body {
  margin: 0;
  padding-top: 75px;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
}

.ui.fixed.top.menu {
  height: 9%;
  border-style: none;
}

.navBar {
  font-family: 'Julius Sans One', sans-serif;
}

.intro {
  /*background: rgba(66,134,244, 0.6);*/
  width: 55%;
  margin: auto;
  border-radius: 25px;
}

.introText {
  border-radius: 25px;
  font-family: 'Nunito', sans-serif;
}

/*Profile Page*/
.Profile {
  padding-left: 30%;
}

/*Find Sitter Page*/

.ui.form.sitter {
  width: 50%;
}

/**/
.pet {
  width: 50%;
}

.login {
  width: 30%;
  margin: auto;
}

.signup {
  width: 30%;
  margin: auto;
}
