body {
  margin: 0;
  padding-top: 56px;
  padding-bottom: 50px;
  font-family: 'Nunito', sans-serif;
  background-color: #f7f7f7;

}

h1 {
  font-family: 'Julius Sans One', sans-serif;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* NavBar */
.ui.fixed.top.menu {
  /*height: 9%;*/
  border-style: none;
}

.navBar {
  font-family: 'Julius Sans One', sans-serif;
}

.logo {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
  width: 200px;
  /*margin-top: 4.3%;*/
}

.vertical {
  margin-top: 20px;
}

/*Footer*/

.footer {
  font-family: 'Julius Sans One', sans-serif;
  border-style: none;
}

/*Homepage*/
.intro {
  /*background: rgba(66,134,244, 0.6);*/
  width: 100%;
  margin: auto;

}

.introText {
  border-radius: 25px;
  font-family: 'Nunito', sans-serif;
}

/*Profile Page*/
.Profile {
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.loader {
  margin: auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Find Sitter Page*/

.ui.form.sitter {
  width: 50%;
}

/*Add Dog pg*/
.pet {
  width: 50%;
}

/*Login Page*/
.login {
  width: 30%;
  margin: auto;
  background-color: rgba(255,255,255,0.3);
  padding: 10px;
  border-radius: 10px;
}

/*Sign Up page*/
.signup {
  width: 30%;
  margin: auto;
  background-color: rgba(255,255,255,0.3);
  padding: 10px;
  border-radius: 10px;
}
