<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Confirming your reservation, <%= @user.username %></h1>

    <p>You have an appointment!</p>
    <p>To contact the host, you can email them at <%= @host.email %></p>

    <p>
      To login to check your booked sitters, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
